{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}{{ title }}Autofit Matcher{% endif %}
{% endblock %}

{% block navbar %}

    <nav class="navbar navbar-default">
            <div>
                Autofit Matcher:
                <a href="{{ url_for('index') }}">Home</a>
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
                {% else %}
                <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            <img src="{{ url_for('static', filename='brightspec_logo_RGB.jpg') }}" style="float:right;height:62px;">

            </div>
    </nav>
{% endblock %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}


        {% endblock content %}
         these are words


